<section class="box-list {{ .Get "class"}}">
    <div class="{{ if eq (.Get "gradient") "true" }} bg-gradient {{ end }}">
        <div style="background-image: url({{ .Get "bgImgSrc" }}); background-color: {{ .Get "bgColor" }}; padding: {{ .Get "containerPadding" }};">
            <div class="container">
                <div class="row" style="margin: {{ .Get "titleMargin"}}">
                    <div class="col-md-12" style="text-align: center;">
                        <h2 class="themeix-title-h1" style="color: {{ .Get "titleFontColor" }}">{{ .Get "title"}}</h2>
                        <div style="color: {{ .Get "subtitleFontColor" }}">{{ .Get "subtitle" }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{  if isset .Params "feature1Title" }}
                        <div class="box-container">
                            <div class="single-item {{ if eq (.Get "dropShadow") "true" }}drop-shadow{{end}}" style="background-color: {{ .Get "boxBgColor" }};">
                                <a href="{{ .Get "feature1Link" }}" target="e" class="box-section-item">
                                    <div class="service-main">
                                        <div class="service-icon">
                                            <img src="{{ .Get "feature1Img" }}" alt="">
                                        </div>
                                        <div class="box-content">
                                            <p class="themeix-para-style" style="color: {{ .Get "txtFontColor" }}">{{ .Get "feature1Txt"  }}</p>
                                            <p class="themeix-para-style links-desc" style="color: {{ .Get "subtitleFontColor" }}">{{ .Get "feature1Desc"  }}</p>
                                            <h3 style="color: {{ .Get "featureTitleFontColor" }}; background-color: {{ .Get "featureTitleBgColor" }} ; margin-bottom: 10px;">{{ .Get "feature1Title" }}</h3>
                                            {{ if isset .Params "feature1ExtraSubtitle" }}
                                            <p class="themeix-para-style extra-subtitle" style="color: {{ .Get "subtitleFontColor" }}">{{ .Get "feature1ExtraSubtitle"  }}</p>
                                            {{end}}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{end}}
                    </div>
                    <div class="col-sm-4">
                        {{  if isset .Params "feature2Title" }}
                        <div class="box-container">
                            <div class="single-item {{ if eq (.Get "dropShadow") "true" }}drop-shadow{{end}}" style="background-color: {{ .Get "boxBgColor" }};">
                                <a href="{{ .Get "feature2Link" }}" target="e" class="box-section-item">
                                    <div class="service-main">
                                        <div class="service-icon">
                                            <img src="{{ .Get "feature2Img" }}" alt="">
                                        </div>
                                        <div class="box-content">
                                            <p class="themeix-para-style" style="color: {{ .Get "txtFontColor" }}">{{ .Get "feature2Txt"  }}</p>
                                            <p class="themeix-para-style links-desc" style="color: {{ .Get "subtitleFontColor" }}">{{ .Get "feature2Desc"  }}</p>
                                            <h3 style="color: {{ .Get "featureTitleFontColor" }}; background-color: {{ .Get "featureTitleBgColor" }} ; margin-bottom: 10px;">{{ .Get "feature2Title" }}</h3>
                                            {{ if isset .Params "feature2ExtraSubtitle" }}
                                            <p class="themeix-para-style extra-subtitle" style="color: {{ .Get "subtitleFontColor" }}">{{ .Get "feature2ExtraSubtitle"  }}</p>
                                            {{end}}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    <div class="col-sm-4">
                        {{  if isset .Params "feature3Title" }}
                        <div class="box-container">
                            <div class="single-item {{ if eq (.Get "dropShadow") "true" }}drop-shadow{{end}}" style="background-color: {{ .Get "boxBgColor" }};">
                                <a href="{{ .Get "feature3Link" }}" target="e" class="box-section-item">
                                    <div class="service-main">
                                        <div class="service-icon">
                                            <img src="{{ .Get "feature3Img" }}" alt="">
                                        </div>
                                        <div class="box-content">
                                            <p class="themeix-para-style" style="color: {{ .Get "txtFontColor" }}">{{ .Get "feature3Txt"  }}</p>
                                            <p class="themeix-para-style links-desc" style="color: {{ .Get "subtitleFontColor" }}">{{ .Get "feature3Desc"  }}</p>
                                            <h3 style="color: {{ .Get "featureTitleFontColor" }}; background-color: {{ .Get "featureTitleBgColor" }} ; margin-bottom: 10px;">{{ .Get "feature3Title" }}</h3>
                                            {{ if isset .Params "feature3ExtraSubtitle" }}
                                            <p class="themeix-para-style extra-subtitle" style="color: {{ .Get "subtitleFontColor" }}">{{ .Get "feature3ExtraSubtitle"  }}</p>
                                            {{end}}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {{end}}
                    </div>
                </div>
                {{ if isset .Params "bottomText" }}
                <div class="col-xs-12 center">
                    <div class="bottom-text" style="color: {{.Get "subtitleFontColor"}};">{{ .Get "bottomText" }}</div>
                </div>
                {{ end }}

                {{ if isset .Params "btnLink" }}
                <div class="themeix-button-group col-xs-12 center" style="margin-top: 20px;">
                    <a href="{{ .Get "btnLink" }}" class="themeix-btn themeix-danger smoothScroll" style="background-color: {{ .Get "linkBgColor"}}">{{ .Get "btnTxt" }}</a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>