<div class="center-text-cta-section {{ if (isset  .Params "innerText") }} inner-text-exists {{ end }} {{ if eq  ( .Get "lightStyle" ) "true" }} light-style {{ end }} " >
    <h2 class="title" >{{ .Get "titleText"}}</h2>
    {{ if (isset  .Params "innerText") }}
        <p class="inner-text">
            {{ .Get "innerText" | safeHTML }}
        </p>
    {{ end }}
    {{ if (isset  .Params "buttonText") }}
        <a href="{{ .Get "buttonLink" }}" class="round-btn gradient-btn" >{{ .Get "buttonText" }} <img src="{{ .Get "buttonImgSrc" }}" class="btn-img"> </a>
    {{ end }}   
</div>