<div class="{{ if eq (.Get "gradient") "true" }} bg-gradient {{ end }}" style="background-color: {{ .Get "bgColor" }}; margin: {{ .Get "containerMargin" }};">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" style="text-align: center;">
                    <img src="{{ .Get "imgSrc" }}" style="max-height: {{ .Get "imgHeight"}};">
                </div>
                <div class="col-md-12" style="text-align: center;">
                    <h2 class="themeix-title-h1" style="color: {{ .Get "fontColor" }}; margin: {{ .Get "textMargin"}};">{{ .Get "title"}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
