<section>
<div class="roadmap-grid-container">
  <div class="roadmap-session up-coming">
    <img src="/images/roadmap/map-up-coming.svg"/>
    <h3>Up Coming</h3>
    <div class="roadmap-card">
      <h3>Improved Privacy Solution</h3>
      <div class="roadmap-porgress-bar">
        <div class="progress"></div>
        <div class="progress"></div>
        <div class="progress"></div>
        <div class="progress"></div>
      </div>
      <p class="roadmap-author">Craig MacGregor
        <span></span>
      </p>
      <p>After the ClockSync fix was soft forked into the network a couple of months ago, NavCoin is now compliant with the Proof of Stake v2 protocol as published by Blackcoin: https://blackcoin.org/blackcoin-pos-protocol-v2-whitepaper.pdf The next logical step is to become</p>
      <a href="www.navcoin.org" target="_blank">Click me  <img src="/images/icons/rightward-arrow-blue.svg" class="btn-img"> </a>      
    </div>
  </div>
  

  
  <div class="roadmap-session in-progress">
    <img src="/images/roadmap/map-in-progress.svg"/>
    <h3>In Progress</h3>
    <div class="roadmap-card">
      <h3>Static Block Reward</h3>
      <div class="roadmap-porgress-bar">
        <div class="progress"></div>
        <div class="progress"></div>
        <div class="progress"></div>
        <div class="progress"></div>
      </div>
      <p class="roadmap-author">Craig MacGregor
        <span></span>
      </p>
      <p>Modifying the block reward from percentage based to static in an effort to increase network security.</p>
      <a href="www.navcoin.org" target="_blank">Click me  <img src="/images/icons/rightward-arrow-blue.svg" class="btn-img"> </a>    
    </div>
  </div>
  


  <div class="roadmap-session beta">
    <img src="/images/roadmap/map-beta.svg"/>
    <h3>Beta Testing</h3>
    <div class="roadmap-card">
      <h3>Cold Staking</h3>
      <div class="roadmap-porgress-bar">
        <div class="progress"></div>
        <div class="progress"></div>
        <div class="progress"></div>
        <div class="progress"></div>
      </div>
      <p class="roadmap-author">Alex Vazquez
        <span></span>
      </p>
      <p>Allowing for NAV, which are stored offline, to sign staking inputs that greatly increase the security of funds used for staking.</p>
      <a href="www.navcoin.org" target="_blank">Click me  <img src="/images/icons/rightward-arrow-blue.svg" class="btn-img"> </a>
    </div>
  </div>
  

  
  <div class="roadmap-session completed">
    <img src="/images/roadmap/map-completed.svg"/>
    <h3>Completed</h3>
    <div class="roadmap-card">
      <h3>NavCoin Core 4.3.0</h3>
      <div class="roadmap-porgress-bar">
        <div class="progress"></div>
        <div class="progress"></div>
        <div class="progress"></div>
        <div class="progress"></div>
      </div>
      <p class="roadmap-author">Craig MacGregor
        <span> |  4 Sep 2018</span>
      </p>
      <p>NavCoin Core 4.3.0 is now available for download. The 4.3.0 release completes the implementation of the OpenAlias protocol into the NavCoin Core client as well as adding Wallet support for bootstrapping. - Read more about NavCoin OpenAlias here. OpenAlias is an standard created by the Monero Core project used in the Monero wallet and some other clients like Bitcoin Electrum which allows the wallet to translate email addresses into cryptocurrency addresses using custom TXT entries in the DNS records of a domain.</p>
      <a href="www.navcoin.org" target="_blank">Click me  <img src="/images/icons/rightward-arrow-blue.svg" class="btn-img"> </a>      
  </div>

</div>

</section>