<section class="wallet-section">
    <div class="container">
        <div class="row">
            <!-- item 1 -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                {{ if isset .Params "item1ImgSrc" }}
                <div class="item-card">
                    <div class="item-main">
                        <div class="item-icon-container">
                            <img src="{{ .Get "item1ImgSrc" }}" alt="" class="item-icon">
                        </div>
                        <div class="item-details-group">
                            <h3>{{ .Get "item1TitleText" }}</h3>
                            <section id="box-item-group">
                                <div id="box-items">
                                    {{ if isset .Params "item1Img1Src" }}
                                    <div><img src="{{ .Get "item1Img1Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item1Img2Src" }}
                                    <div><img src="{{ .Get "item1Img2Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item1Img3Src" }}
                                    <div><img src="{{ .Get "item1Img3Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item1Img4Src" }}
                                    <div><img src="{{ .Get "item1Img4Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item1Img5Src" }}
                                    <div><img src="{{ .Get "item1Img5Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item1Img6Src" }}
                                    <div><img src="{{ .Get "item1Img6Src" }}"></div>
                                    {{ end }}
                                </div>
                            </section>
                            <div class="item-text">
                                <p>{{ .Get "item1Text"  }}</p>
                                {{ if isset .Params "item1BtnUrl" }}
                                    <a href="{{ .Get "item1BtnUrl" }}" target="_blank" class="round-btn small gradient-btn">{{ .Get "item1BtnText" }} <img src="{{ .Get "buttonImgSrc" }}" clas="btn-img"> </span></a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- item 2 -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                {{ if isset .Params "item2ImgSrc" }}
                <div class="item-card">
                    <div class="item-main">
                    <div class="item-icon-container">
                            <img src="{{ .Get "item2ImgSrc" }}" alt="" class="item-icon">
                        </div>
                        <div class="item-details-group">
                            <h3>{{ .Get "item2TitleText" }}</h3>
                            <section id="box-item-group">
                                <div id="box-items">
                                    {{ if isset .Params "item2Img1Src" }}
                                    <div><img src="{{ .Get "item2Img1Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item2Img2Src" }}
                                    <div><img src="{{ .Get "item2Img2Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item2Img3Src" }}
                                    <div><img src="{{ .Get "item2Img3Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item2Img4Src" }}
                                    <div><img src="{{ .Get "item2Img4Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item2Img5Src" }}
                                    <div><img src="{{ .Get "item2Img5Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item2Img6Src" }}
                                    <div><img src="{{ .Get "item2Img6Src" }}"></div>
                                    {{ end }}
                                </div>
                            </section>
                            <div class="item-text">
                                <p>{{ .Get "item2Text"  }}</p>
                                {{ if isset .Params "item2BtnUrl" }}
                                    <a href="{{ .Get "item2BtnUrl" }}" target="_blank" class="round-btn small gradient-btn">{{ .Get "item2BtnText" }} <img src="{{ .Get "buttonImgSrc" }}" clas="btn-img"> </span></a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- item 3 -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                {{ if isset .Params "item3ImgSrc" }}
                <div class="item-card">
                    <div class="item-main">
                    <div class="item-icon-container">
                            <img src="{{ .Get "item3ImgSrc" }}" alt="" class="item-icon">
                        </div>
                        <div class="item-details-group">
                            <h3>{{ .Get "item3TitleText" }}</h3>
                            <section id="box-item-group">
                                <div id="box-items">
                                    {{ if isset .Params "item3Img1Src" }}
                                    <div><img src="{{ .Get "item3Img1Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item3Img2Src" }}
                                    <div><img src="{{ .Get "item3Img2Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item3Img3Src" }}
                                    <div><img src="{{ .Get "item3Img3Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item3Img4Src" }}
                                    <div><img src="{{ .Get "item3Img4Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item3Img5Src" }}
                                    <div><img src="{{ .Get "item3Img5Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item3Img6Src" }}
                                    <div><img src="{{ .Get "item3Img6Src" }}"></div>
                                    {{ end }}
                                </div>
                            </section>
                            <div class="item-text">
                                <p>{{ .Get "item3Text"  }}</p>
                                {{ if isset .Params "item3BtnUrl" }}
                                    <a href="{{ .Get "item3BtnUrl" }}" target="_blank" class="round-btn small gradient-btn">{{ .Get "item3BtnText" }} <img src="{{ .Get "buttonImgSrc" }}" clas="btn-img"> </span></a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
