<section class="wallet-section">
    <div class="container">
        <div class="row">
            <!-- item 1 -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                {{ if isset .Params "item1WalletImgSrc" }}
                <div class="item-card">
                    <div class="item-main">
                        <div class="item-icon-container">
                            <img src="{{ .Get "item1WalletImgSrc" }}" alt="" class="item-icon">
                        </div>
                        <div class="item-details-group">
                            <h3>{{ .Get "item1TitleText" }}</h3>
                            <section id="box-item-group">
                                <div id="box-items">
                                    {{ if isset .Params "item1PlatformImg1Src" }}
                                    <div><img src="{{ .Get "item1PlatformImg1Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item1PlatformImg2Src" }}
                                    <div><img src="{{ .Get "item1PlatformImg2Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item1PlatformImg3Src" }}
                                    <div><img src="{{ .Get "item1PlatformImg3Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item1PlatformImg4Src" }}
                                    <div><img src="{{ .Get "item1PlatformImg4Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item1PlatformImg5Src" }}
                                    <div><img src="{{ .Get "item1PlatformImg5Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item1PlatformImg6Src" }}
                                    <div><img src="{{ .Get "item1PlatformImg6Src" }}"></div>
                                    {{ end }}
                                </div>
                            </section>
                            <div class="item-text">
                                <p>{{ .Get "item1Text"  }}</p>
                                {{ if isset .Params "item1BtnUrl" }}
                                    <a href="{{ .Get "item1BtnUrl" }}" target="_blank" class="round-btn small gradient-btn">{{ .Get "item1BtnText" }} <img src="{{ .Get "buttonImgSrc" }}" clas="btn-img"> </span></a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- item 2 -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                {{ if isset .Params "item2WalletImgSrc" }}
                <div class="item-card">
                    <div class="item-main">
                    <div class="item-icon-container">
                            <img src="{{ .Get "item2WalletImgSrc" }}" alt="" class="item-icon">
                        </div>
                        <div class="item-details-group">
                            <h3>{{ .Get "item2TitleText" }}</h3>
                            <section id="box-item-group">
                                <div id="box-items">
                                    {{ if isset .Params "item2PlatformImg1Src" }}
                                    <div><img src="{{ .Get "item2PlatformImg1Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item2PlatformImg2Src" }}
                                    <div><img src="{{ .Get "item2PlatformImg2Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item2PlatformImg3Src" }}
                                    <div><img src="{{ .Get "item2PlatformImg3Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item2PlatformImg4Src" }}
                                    <div><img src="{{ .Get "item2PlatformImg4Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item2PlatformImg5Src" }}
                                    <div><img src="{{ .Get "item2PlatformImg5Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item2PlatformImg6Src" }}
                                    <div><img src="{{ .Get "item2PlatformImg6Src" }}"></div>
                                    {{ end }}
                                </div>
                            </section>
                            <div class="item-text">
                                <p>{{ .Get "item2Text"  }}</p>
                                {{ if isset .Params "item2BtnUrl" }}
                                    <a href="{{ .Get "item2BtnUrl" }}" target="_blank" class="round-btn small gradient-btn">{{ .Get "item2BtnText" }} <img src="{{ .Get "buttonImgSrc" }}" clas="btn-img"> </span></a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- item 3 -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                {{ if isset .Params "item3WalletImgSrc" }}
                <div class="item-card">
                    <div class="item-main">
                    <div class="item-icon-container">
                            <img src="{{ .Get "item3WalletImgSrc" }}" alt="" class="item-icon">
                        </div>
                        <div class="item-details-group">
                            <h3>{{ .Get "item3TitleText" }}</h3>
                            <section id="box-item-group">
                                <div id="box-items">
                                    {{ if isset .Params "item3PlatformImg1Src" }}
                                    <div><img src="{{ .Get "item3PlatformImg1Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item3PlatformImg2Src" }}
                                    <div><img src="{{ .Get "item3PlatformImg2Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item3PlatformImg3Src" }}
                                    <div><img src="{{ .Get "item3PlatformImg3Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item3PlatformImg4Src" }}
                                    <div><img src="{{ .Get "item3PlatformImg4Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item3PlatformImg5Src" }}
                                    <div><img src="{{ .Get "item3PlatformImg5Src" }}"></div>
                                    {{ end }}
                                    {{ if isset .Params "item3PlatformImg6Src" }}
                                    <div><img src="{{ .Get "item3PlatformImg6Src" }}"></div>
                                    {{ end }}
                                </div>
                            </section>
                            <div class="item-text">
                                <p>{{ .Get "item3Text"  }}</p>
                                {{ if isset .Params "item3BtnUrl" }}
                                    <a href="{{ .Get "item3BtnUrl" }}" target="_blank" class="round-btn small gradient-btn">{{ .Get "item3BtnText" }} <img src="{{ .Get "buttonImgSrc" }}" clas="btn-img"> </span></a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
