<section class="contrib-list {{ if eq (.Get "gradient") "true" }} bg-gradient {{ end }}" style="{{if isset .Params "section-margin"}} margin:{{ .Get "section-margin"}}; {{end}}">
    <div class="container" style="background-image: url({{ .Get "bgImgSrc" }}); background-color: {{ .Get "bgColor" }}; padding: {{ .Get "containerPadding" }};">
        {{ if isset .Params "title" }}
        <div class="row" style="margin: {{ .Get "titleMargin"}}">
            <div class="col-md-12" style="text-align: center;">
                <h2 class="contrib-list-title" style="color: {{ .Get "fontColor" }}">{{ .Get "title"}}</h2>
                <div style="color: {{ .Get "fontColor" }}">{{ .Get "subtitle" }}</div>
            </div>
        </div>
        {{end}}
        <div class="row">

            {{ range $element := sort $.Site.Data.contributors "total" "desc" }}

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="single-item" style="background-color: #7d5ab5">
                    <a href="https://github.com/{{ $element.author.login }}">
                        <img src="{{ .author.avatar }}" class="git-disp-pic">
                        <div class="contrib-info">
                            <div class="faded-text">Name:</div>
                            <div class="name">{{ $element.author.login }}</div>
                        </div>
                    </a>
                </div>
            </div>

            {{end}}

            <div class="col-xs-12 center"  >
                <a href="{{ .Get "btnLink" }}" class="round-btn purple-btn">{{ .Get "btnTxt" }}</a>
            </div>

        </div>
    </div>
</section>