<section id="get-apps" class="get-appix-setion section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="themeix-section-heading-title">
                    {{ if isset .Params "title" }}<h2 class="head-title" style="color:{{ .Get "titleColor"}};">{{ .Get "title" }}</h2>{{end}}
                    <p class="light-300" style="color:{{ .Get "txtColor"}};">{{ .Inner }}</p>
                </div>
            </div>
        </div>
    </div>
</section>