<div class="left-image-section flex {{ if eq (.Get "gradient") "true" }} bg-gradient {{ end }}" style="background-color: {{ .Get "bgColor" }};">
    <div class="img-container">
        <img src="{{ .Get "imgSrc" }}" style="max-height: {{ .Get "imgHeight"}};">
    </div>
    <div>
        <div class="text-content">
            <h2 class="" style="color: {{ .Get "fontColor" }}">{{ .Get "title"}}</h2>
            <div class="" style="color: {{ .Get "fontColor" }}">{{ .Inner }}</div>
            {{ if isset .Params "btn1Link" }}
            <div class="">
                <a href="{{ .Get "btn1Link" }}" class="themeix-btn themeix-danger smoothScroll" style="background-color: {{ .Get "linkBgColor"}}">{{ .Get "btn1Txt" }}</a>
            </div>
            {{ end }}
        </div>
    </div>
</div>