<section class="box-list-supreme">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="item-card" style="background-color: {{.Params.card_color}}; margin: {{.Params.card_margin}}">
                    <div class="item-main">
                        <div class="item-icon">
                            <img src="{{ .Get "item1_img" }}" alt="">
                        </div>
                        <div class="item-title">
                            <h3 style="color: {{ .Get "title_color" }}; margin: {{ .Get "title_margin" }}">{{ .Get "item1_title" }}</h3>
                        </div>
                        <section id="box-item-group">
                            <div id="box-items">
                                {{ if isset .Params "item1_sub1_img" }}
                                <div><a href="{{ .Get "item1_sub1_url"}}" target="_blank"><img src="{{ .Get "item1_sub1_img" }}" alt="{{ .Get "item_sub1_alt" }}"></a></div>
                                {{ end }}
                                {{ if isset .Params "item1_sub2_img" }}
                                <div><a href="{{ .Get "item1_sub2_url"}}" target="_blank"><img src="{{ .Get "item1_sub2_img" }}" alt="{{ .Get "item_sub2_alt" }}"></a></div>
                                {{ end }}
                                {{ if isset .Params "item1_sub3_img" }}
                                <div><a href="{{ .Get "item1_sub3_url"}}" target="_blank"><img src="{{ .Get "item1_sub3_img" }}" alt="{{ .Get "item_sub3_alt" }}"></a></div>
                                {{ end }}
                                {{ if isset .Params "item1_sub4_img" }}
                                <div><a href="{{ .Get "item1_sub4_url"}}" target="_blank"><img src="{{ .Get "item1_sub4_img" }}" alt="{{ .Get "item_sub4_alt" }}"></a></div>
                                {{ end }}
                                {{ if isset .Params "item1_sub5_img" }}
                                <div><a href="{{ .Get "item1_sub5_url"}}" target="_blank"><img src="{{ .Get "item1_sub5_img" }}" alt="{{ .Get "item_sub5_alt" }}"></a></div>
                                {{ end }}
                                {{ if isset .Params "item1_sub6_img" }}
                                <div><a href="{{ .Get "item1_sub6_url"}}" target="_blank"><img src="{{ .Get "item1_sub6_img" }}" alt="{{ .Get "item_sub6_alt" }}"></a></div>
                                {{ end }}
                            </div>
                        </section>
                        <div class="item-text">
                            <p style="color: {{ .Get "text_color" }}; margin: {{ .Get "text_margin" }}">{{ .Get "item1_text"  }}</p>
                            <div class="item-button" style="margin: {{ .Get "btn_margin" }}">   
                                {{ if isset .Params "item1_btn_url" }}
                                    <a href="{{ .Get "item1_btn_url" }}" class="themeix-btn themeix-danger smoothScroll" style="background-color: {{ .Get "btn_color"}}">{{ .Get "item1_btn_text" }} <span class="fa fa-chevron-right project-more"></span></a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
