<div class="footer-area section-ptb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-1"><!-- spacer (offset not working for some reason) --></div>
            <div class="col-sm-6 col-md-4">
                <div class="column">
                    <div class="widget-title">
                        <h3>Important Links</h3>
                    </div>
                    <div class="widget-content">
                        <ul>
                            <li><a href="https://github.com/NAVCoin" target="_blank">GitHub</a></li>
                            <li><a href="https://navhub.org/" target="_blank">NavCoin Hub</a></li>
                            <li><a href="https://info.navcoin.org/" target="_blank">Knowledge Base</a></li>
                            <li><a href="https://navhub.org/news/" target="_blank">Latest News</a></li>
                            <li><a href="https://info.navcoin.org/faq/" target="_blank">FAQ</a></li>
                            <li><a href="https://navhub.org/roadmap/" target="_blank">Community Roadmap</a></li>
                            <li><a href="https://chainz.cryptoid.info/nav/" target="_blank">Block Explorer - CryptoID</a></li>
                            <li><a href="https://www.navexplorer.com" target="_blank">Block Explorer - NavExplorer</a></li>
                            <li><a href="https://navtechservers.com/" target="_blank">Nav Tech Servers (NTS)</a></li>
                            <li><a href="http://navcommunity.net/" target="_blank">Nav Community</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="column">
                    <div class="widget-title">
                        <h3>Community Channels</h3>
                    </div>
                    <div class="widget-content">
                        <ul>
                            <li><a href="https://discordapp.com/invite/y4Vu9jw" target="_blank">Discord</a></li>
                            <li><a href="https://twitter.com/NavCoin" target="_blank">Twitter</a></li>
                            <li><a href="https://www.reddit.com/r/NavCoin/" target="_blank">Reddit</a></li>
                            <li><a href="https://t.me/navcoin" target="_blank">Telegram</a></li>
                            <li><a href="https://www.facebook.com/NAVCoin" target="_blank">Facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="column">
                    <div class="widget-title">
                        <h3>NavCoin</h3>
                    </div>
                    <p>NavCoin released under the <a href="https://opensource.org/licenses/mit-license.php" target="_blank">MIT license</a></p>
                    <div class="themeix-social-area">
                        <a class="themeix-tool" href="https://twitter.com/NavCoin" target="_blank">
                            <i class="fa fa-twitter"></i>
                            <div id="colorbox" class="themeix-color twitter-color"></div>
                        </a>
                        <a class="themeix-tool" href="https://www.facebook.com/NavCoin/" target="_blank">
                            <i class="fa fa-facebook"></i>
                            <div id="colorboxs" class="themeix-color facebook-color"></div>
                        </a>
                        <a class="themeix-tool" href="https://www.reddit.com/r/NavCoin" target="_blank">
                            <i class="fa fa-reddit"></i>
                            <div id="colorboxss" class="themeix-color reddit-color"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-overlay blog-footere">
    <div class="blog-footer-overlya">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="themeix-footer-bottom">
                        <div class="inner-section">
                            <ul class="footer-menu">
                                <li><a href="/privacy-policy">Privacy Policy</a></li>
                                <li><a href="/terms-of-use">Terms of Use</a></li>
                            </ul>
                            <h5>All rights reserved - Proudly made by the NavCoin Community!</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end contact us -->

<!-- scrollUP button -->
<a id="scrollUp" href="#"></a>
<!-- end scrollUP button -->

<!-- jquery main framwork -->
<script src="{{ "js/vendor/jquery-1.12.0.min.js" | relURL }}"></script>

<!-- bootstrap framwork js -->
<script src="{{ "js/bootstrap.min.js" | relURL }}"></script>

<!-- All plugin js -->
<script src="{{ "js/plugins.js" | relURL }}"></script>

<!-- scrollUp js -->
<script src="{{ "js/scrollUp.min.js" | relURL }}"></script>

<!-- smoothscroll.js -->
<script src="{{ "js/smooth-scroll.min.js" | relURL }}"></script>

<!-- Theme all active js -->
<script src="{{ "js/main.js" | relURL }}"></script>
