<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NavCoin - An Easy To Use Decentralised Cryptocurrency</title>
    <meta name="author" content="NavCoin">
    <meta name="description" content="NavCoin is a decentralized cryptocurrency that uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of NavCoin is carried out collectively by the network. NavCoin is open-source; its design is public, nobody owns or controls NavCoin and everyone can take part.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TGRT2RZ');</script>
    <!-- End Google Tag Manager -->
    <!-- favi icon -->
    <link rel="shortcut icon" href="/images/favicon-1.png">
    <!-- Site Title -->
    <title>{{ .Title }}</title>

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Raleway|Roboto|Source+Sans+Pro" rel="stylesheet">

    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">

    <!-- google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway|Roboto">

    <!-- font awesome css -->
    <link rel="stylesheet" href='{{ "css/font-awesome.min.css" | relURL }}'>

    <!-- owl carousel css -->
    <link rel="stylesheet" href='{{ "css/owl.carousel.css" | relURL }}'>

    <!-- animate CSS -->
    <link rel="stylesheet" href='{{ "css/animate.min.css" | relURL }}'>

    <!-- Magnific CSS -->
    <link rel="stylesheet" href='{{ "css/magnific-popup.css" | relURL }}'>

    <!-- Theme main css -->
    <link rel="stylesheet" href='{{ "css/style.css" | relURL }}'>

    <!-- responsive css -->
    <link rel="stylesheet" href='{{ "css/responsive.css" | relURL }}'>


    <link rel="stylesheet" href='{{ "css/nav.css" | relURL }}'>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="NavCoin">
    <meta name="twitter:description" content="NavCoin is a decentralized cryptocurrency that uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of NavCoin is carried out collectively by the network. NavCoin is open-source; its design is public, nobody owns or controls NavCoin and everyone can take part.">
    <meta name="twitter:image" content="https://navcoin.org/images/logo-extended.webp">

    <!-- Open Graph data -->
    <meta property="og:site_name" content="NavCoin">
    <meta property="og:title" content="NavCoin">
    <meta property="og:description" content="NavCoin is a decentralized cryptocurrency that uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of NavCoin is carried out collectively by the network. NavCoin is open-source; its design is public, nobody owns or controls NavCoin and everyone can take part.">
    <meta property="og:image" content="https://navcoin.org/images/logo-extended.webp">
    <meta property="og:url" content="https://navcoin.org/">
    <meta property="og:type" content="article">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGRT2RZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
</head>