<div class="left-image-section flex" style="background-color:#7d5ab5; padding: 0">
      <div class="img-container" style="padding: 0;">
          <img src="/images/circle-icons/nav_color-nav.png">
      </div>
      <div class="text-content">
          <h2 class="" style="color: #FFF;">Protocol Improvement Proposals</h2>
          <div class="" style="color: #FFF;">
            NavCoin Protocol Improvement Proposals (PIPs) can be suggested and published by anyone who wants to contribute to the NavCoin protocol. Check out the "Help Wanted" or "Ideas" categories if you're looking for a PIP to work on, or suggest your own!
          </div>
          <a href="https://github.com/NavCoin/navcoin-core/issues" target="e" class="round-btn purple-btn" style="margin-top: 20px;">View Github Issues</a>
      </div>
</div>
