
@import "./colors.scss";

.round-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 37px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: black 2px solid;
  display: inline-block;
  min-width: 210px;
  text-align: center;  
}

.purple-btn {
  border-color: #c6b7fd;
  color: white;
  background-color: #7d59b5;
  transition: 0.2s ease;
  &:hover, &:active{
    color: white;
    background-color: #523973; 
    transition: 0.2s ease
  }
}

.purple-btn-special {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  padding: 17px;
  border-width: 2px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: #7d59b5;
  color: white;
  background-color: #7d59b5;
  transition: 0.2s ease;
  &:hover, &:active {
    min-width:250px;
    border-color: #7d59b5;
    color: #7d59b5;
    background-color: white; 
    transition: 0.5s ease;
  }
}

.gradient-btn {
  font-family: 'Raleway', sans-serif;
  border-color: #c6b7fd;
  color: white;
  transition: 0.2s ease;
  background: -moz-linear-gradient(90deg,#56b6e7 0%, #c63db8 100%);
  /* ff3.6+ */

  background: -webkit-gradient(90deg, linear, left bottom, right top, color-stop(0%, #56b6e7),
          color-stop(100%, #c63db8));
  /* safari4+,chrome */

  background: -webkit-linear-gradient(90deg, #56b6e7 0%, #c63db8 100%);
  /* safari5.1+,chrome10+ */

  background: -o-linear-gradient(90deg, #56b6e7 0%, #c63db8 100%);
  /* opera 11.10+ */

  background: -ms-linear-gradient(90deg, #56b6e7 0%, #c63db8 100%);
  /* ie10+ */

  background: linear-gradient(90deg, #56b6e7 0%, #c63db8 100%);
  /* w3c */

  &:hover, &:active{
    color: white;
    filter: brightness(110%); 
    transition: 0.2s ease
  }
}


.white-btn{
  border-color: $nav-purple-dark;
  color: $nav-purple-dark;
  background-color: white;
  &:hover, &:active{
    border-color: #7d59b5;
    color: #7d59b5;
    transition: 0.5s ease;    
    min-width: 250px;
  }
}

.blue-btn{
  border-color: white;
  color: white;
  background-color: #42b6eb;
  transition: 0.2s ease;
  &:hover, &:active{
    border-color: #1381b4;
    color: #1381b4; 
    transition: 0.2s ease  }
}