.center-text-section {  
  text-align: center;
  min-height: 400px;
  background: no-repeat;
  background-position: center;
  background-size: contain;  
  h2 {
    font-size: 30px;
  }
  .center-text-section-inner {
    max-width: 800px;
  }
}

.center-text-section-content {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
}