.contrib-list {
  .contrib-list-title  {
    margin: 50px 0;
  }

  .git-disp-pic {
    height: 88px;
    border-radius: 225px;
    margin: 13px 15px 8px 5px;
  }
  .single-item {
    overflow: auto;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: #ccc 0px 0px 10px;
    .name {
      font-size: 24px;
    }
    .contrib-number {
      font-size: 43px;
      margin-top: 5px;
    }
    .contrib-info {
      margin-top: 30px;
      margin-left: 5px;
    }
    .faded-text {
      font-size: 16px;
      color: #ffffff;
      opacity: 0.54;
    }
    a, a:visited {
      color: #d4d4d4;
    }
    a:hover, a:active {
      color: #fff;
    }
    a {
      display: flex;
      flex-direction: row;
    }
    @media (max-width: 767px) {
      a {
        justify-content: space-around;
      }
    }
  }
  @media (max-width: 1199px) {
    .single-item {
      overflow: auto;
      padding: 15px;
      margin-bottom: 25px;
      border-radius: 10px;
      .name {
        font-size: 22px;
      }
      .contrib-number {
        font-size: 40px;
        margin-top: 5px;
      }
      .faded-text {
        font-size: 15px;
      }

    }
  }
}