.box-list .drop-shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-left: 1px solid #EEE;
  border-top: 1px solid #EEE; }

.box-list .service-main {
  padding-top: 30px;
  padding-bottom: 0px; }

.box-list .extra-subtitle {
  padding: 15px 0; }

.box-list img {
  padding-bottom: 10px;
  max-height: 150px; }

.box-list h3 {
  padding: 10px 0; }

.box-list a {
  color: #555; }
  .box-list a:hover, .box-list a:active, .box-list a:visited {
    color: #555; }

.box-list .box-section-item:hover img {
  opacity: 0.75; }

.center {
  text-align: center; }

.white-txt-underline {
  color: #fff;
  text-decoration: underline; }
  .white-txt-underline:hover, .white-txt-underline:active, .white-txt-underline:visited {
    color: #fff;
    text-decoration: underline; }

.dark-grey-txt-underline {
  color: #333;
  text-decoration: underline; }
  .dark-grey-txt-underline:active, .dark-grey-txt-underline:visited {
    color: #333;
    text-decoration: underline; }
  .dark-grey-txt-underline:hover {
    color: #7d59b5;
    text-decoration: underline; }

.contrib-list .git-disp-pic {
  max-height: 60px;
  border-radius: 30px;
  float: left;
  margin-right: 5px; }

.contrib-list .single-item {
  overflow: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0px;
  box-shadow: #ccc 0px 0px 10px; }
  .contrib-list .single-item a, .contrib-list .single-item a:visited {
    color: #d4d4d4; }
  .contrib-list .single-item a:hover, .contrib-list .single-item a:active {
    color: #fff; }

.news-content ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  color: #777777;
  font-size: 15px;
  line-height: 24px; }

.main-slider-overlay {
  background: -moz-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(68, 178, 233, 0.88)), color-stop(100%, #c529b5), color-stop(100%, #c529b5));
  background: -webkit-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
  background: -o-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
  background: -ms-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
  background: linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%); }

.bg-gradient {
  background: -moz-linear-gradient(35deg, #c529b5 0%, #44b2e9 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #c529b5), color-stop(100%, #44b2e9));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(35deg, #c529b5 0%, #44b2e9 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(35deg, #c529b5 0%, #44b2e9 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(35deg, #c529b5 0%, #44b2e9 100%);
  /* ie10+ */
  background: linear-gradient(55deg, #c529b5 0%, #44b2e9 100%);
  /* w3c */ }

.page-header-bg {
  height: auto; }

.vert-10 {
  height: 10px; }

.icon-block {
  display: inline-block;
  margin-right: 15px; }
  .icon-block figcaption p {
    text-align: center; }

.play-store-button {
  padding: 18px 25px !important; }

.play-store-button:after {
  content: ""; }

.projects-card-container {
  display: flex;
  flex-wrap: wrap; }
  .projects-card-container .project-card {
    margin: 15px 15px 0 0;
    padding: 0 20px 10px 20px;
    max-width: 400px; }

.info-links {
  display: flex;
  align-items: center; }
  .info-links label {
    cursor: pointer;
    margin-right: 5px;
    background-color: rgba(33, 33, 33, 0.5);
    color: #fff; }
    .info-links label.card-author {
      font-size: 12px;
      padding: 6px 10px; }
    .info-links label i {
      padding: 10px; }
