<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body data-spy="scroll" data-target="#header-menu">

  {{ partial "header.html" .  }}

  <div class="hero-section">
      <img src="/images/roadmap/map_hero.svg" class="hero-img">
    <div class="text-section-container">
        <h1 class="">Project Activity</h1>
        <p class="paragraph-text">
          NavCoin is a decentralised project with many contributors. As a community, we are shaping the future of digital money by building industry-leading features and&nbsp;protocols. On this page you can see what is happening on the NavCoin Core GitHub Project. 
          <br /><br />
          For a detailed view of what is being worked on in NavCoin Core and to get involved, visit the project on GitHub.
        </p>

            <div>
                <a href="https://github.com/navcoin/navcoin-core" class="round-btn blue-btn" target="_blank">
                    NavCoin Core GitHub
                    <img src="/images/icons/rightward-arrow.svg" class="btn-img"> </a>
            </div>

    </div>
</div>

<section>
    <h2 class="title" style="text-align: center; margin-top: 80px">NavCoin Core Development</h2>
    <div id="react-project-activity">
        <div class="status-container">
            <h3>Loading...</h3>
        </div>
    </div>
</section>

  <div class="center-text-cta-section inner-text-exists" >
    <h2 class="title">Community Projects</h2>
    <p class="inner-text">
      The Core Roadmap only showcases protocol related projects which are just the tip of the iceberg when it comes to the NavCoin eco-system. To check out what has been or is being built ontop of the NavCoin protocol, head on over to NavHub and check out the community projects and roadmap there.
    </p>
    <a href="https://navhub.org/projects" target="e" class="round-btn gradient-btn" >Go to NavHub <img src="/images/icons/rightward-arrow.svg" class="btn-img"> </a>
  </div>

  {{ partial "footer.html" . }}

   <!-- React components. -->
   <script src="/js/react/vendor.bundle.js"></script>
   <script src="/js/react/github-project.js"></script>

</body>
</html>
