.bounty-label {
    width: 50%;
    span {
        color: white; 
    padding: 2px 5px;
    }
}

.bounty-description {
    width: 50%;
    color: $nav-purple-dark;
    i {
        margin-right: 20px;
    }
}