
@import "./colors.scss";

.round-btn {
  font-family: 'Raleway', 'Regular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 37px;
  border: black 2px solid;
  display: inline-block;
  min-width: 210px;
  text-align: center;  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.small {
    min-width: unset;
    padding: 10px 21px;
    font-size: 13px;
    margin: 0;
    line-height: 20px;
    border-radius: 20px;
    box-shadow: 1px 13px 35px #422db23d;
    img {
      margin-left: 8px;
      height: 12px;
    }
  }
  img {
    height: 15px;
    margin-left: 25px;
  }
}

.purple-btn {
  border-color: #c6b7fd;
  color: white;
  background-color: #7d59b5;
  transition: 0.2s ease;
  &:hover, &:active, &:focus {
    color: white;
    background-color: #523973; 
    transition: 0.2s ease
  }
}

.purple-btn-special {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  padding: 17px;
  border-width: 2px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: #7d59b5;
  color: white;
  background-color: #7d59b5;
  transition: 0.2s ease;
  &:hover, &:active {
    min-width:250px;
    border-color: #7d59b5;
    color: #7d59b5;
    background-color: white; 
    transition: 0.5s ease;
  }
}

.gradient-btn {
  border: none;
  color: white;
  transition: 0.2s ease;
    
  filter: drop-shadow(rgba(87, 73, 165, 0.24) 1px 13px 35px);
  background: linear-gradient(90deg, #A34BC1 0%, #4AA9E4 100%);

  &:hover, &:active, &:focus {
    color: white;
    filter: brightness(110%); 
    transition: 0.2s ease
  }
}

.white-btn {
  border-color: $nav-purple-dark;
  color: $nav-purple-dark;
  background-color: white;
  &:hover, &:active, &:focus{
    border-color: #7d59b5;
    color: #7d59b5;
    transition: 0.5s ease;    
    min-width: 250px;
  }
}

.blue-btn {
  font-size: 17px;
  border: none;
  color: white;
  background-color: #53A3FF;
  transition: 0.2s ease;
  &:hover, &:active, &:focus {
    filter: brightness(110%);
    transition: 0.2s ease;
  }
}


.blue-btn-old {
  border-color: white;
  color: white;
  background-color: #42b6eb;
  transition: 0.2s ease;
  &:hover, &:active, &:focus{
    border-color: #1381b4;
    color: #1381b4; 
    transition: 0.2s ease  }
}

@media (max-width: 600px) {
  .round-btn {
    font-size: 14px;
    padding: 8px 18px;
  }
}