.exchange-column {
    margin: 20px auto 0 auto;
    min-width: 200px;
    width: 100%;
    max-width: 450px;
    
    a {
      color: #fff;
    }
  .exchange-card {
    box-shadow: 1px 13px 35px rgba(66,45,178,0.12);
    transition: all 0.3s ease;
    &:hover {
      transform: translate(0px,-5px);
      box-shadow: 5px 23px 39px rgba(66, 45, 178, 0.12);
    }
  }
  
  .upper-half {
    display: flex;
    flex-direction: column;
    height: 195px;
    padding: 5px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    
    p {
      color: rgb(44,49,52);
      font-size: 16px;
    }
  }
  
  .item-icon {
    padding: 10px 0 10px 0;
    width: 108px;
  }
  
  .lower-half {
    background: #7D5AB5;  
    padding: 13px; 
    border-radius: 0 0 8px 8px;

    h3 {
      font-size: 20px;
      margin: 0;
      text-align: center;
    }
  }

  a:hover, a:active, a:visited {
    filter: brightness(110%)
  }
}