.item-container-section {
  color: #fff;
  padding: 85px 0;

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    grid-gap: 30px 20px;
    justify-content: center;
  }
}