.links-set{
    text-align: center;
    margin: 50px 0 33px 0;
    font-size: 30px;
    font-family: raleway;
    color: #7D5AB5;
    font-weight: 500;
  }
  
  .links-flex-box { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .link-grid-el {
      margin: 8px;
      display: grid;
      max-width: 350px;
      justify-self: center;
      padding: 25px 25px;
      background: #fff;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      box-shadow: 1px 13px 35px rgba(66, 45, 178, 0.12);
      transition: all 0.3s ease;
      margin-bottom: 5px;
  }
  
  .link-grid-el > .link-title {
    color: rgb(125, 90, 181);
    text-align: left;
    font: normal normal 400 normal 20px / 37px raleway;
    margin: 0px;
    outline: rgb(125, 90, 181) none 0px;
  }
  
  .link-grid-el > .link-text {
    margin: 0;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;
    color: #404040;
    font-family: "Roboto", sans-serif;
    margin-bottom: 24px;
  }
  
  .link-grid-el > a {
    color: rgb(0, 110, 255);
    justify-self: start;
    text-decoration: none solid rgb(0, 110, 255);
    border-bottom: 1px solid rgb(0, 110, 255);
    font-family: "Roboto", sans-serif;
  }
  
  .link-grid-el > a > img {
    width: 17px;
  }
  
  @media (max-width: 400px) {
    .link-grid-el {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .link-grid-el > .link-text {
      font-size: 13px;
      line-height: 20px;
    }
  }
  