.round-btn {
  font-family: 'Raleway', 'Regular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 37px;
  border: black 2px solid;
  min-width: 210px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap; }
  .round-btn.small {
    min-width: unset;
    padding: 10px 21px;
    font-size: 13px;
    margin: 0;
    line-height: 20px;
    border-radius: 20px;
    box-shadow: 1px 13px 35px #422db23d; }
    .round-btn.small img {
      margin-left: 8px;
      height: 12px; }

.btn-img {
  height: 15px;
  margin-left: 25px; }

.purple-btn {
  border-color: #c6b7fd;
  color: white;
  background-color: #7d59b5;
  transition: 0.2s ease; }
  .purple-btn:hover, .purple-btn:active, .purple-btn:focus {
    color: white;
    background-color: #523973;
    transition: 0.2s ease; }

.purple-btn-special {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  padding: 17px;
  border-width: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: #7d59b5;
  color: white;
  background-color: #7d59b5;
  transition: 0.2s ease; }
  .purple-btn-special:hover, .purple-btn-special:active {
    min-width: 250px;
    border-color: #7d59b5;
    color: #7d59b5;
    background-color: white;
    transition: 0.5s ease; }

.gradient-btn {
  border: none;
  color: white;
  transition: 0.2s ease;
  filter: drop-shadow(rgba(87, 73, 165, 0.24) 1px 13px 35px);
  background: linear-gradient(90deg, #A34BC1 0%, #4AA9E4 100%); }
  .gradient-btn:hover, .gradient-btn:active, .gradient-btn:focus {
    color: white;
    filter: brightness(110%);
    transition: 0.2s ease; }

.white-btn {
  border-color: #7d59b5;
  color: #7d59b5;
  background-color: white; }
  .white-btn:hover, .white-btn:active, .white-btn:focus {
    border-color: #7d59b5;
    color: #7d59b5;
    transition: 0.5s ease;
    min-width: 250px; }

.blue-btn {
  font-size: 17px;
  border: none;
  color: white;
  background-color: #53A3FF;
  transition: 0.2s ease; }
  .blue-btn:hover, .blue-btn:active, .blue-btn:focus {
    filter: brightness(110%);
    transition: 0.2s ease; }

.blue-btn-old {
  border-color: white;
  color: white;
  background-color: #42b6eb;
  transition: 0.2s ease; }
  .blue-btn-old:hover, .blue-btn-old:active, .blue-btn-old:focus {
    border-color: #1381b4;
    color: #1381b4;
    transition: 0.2s ease; }

@media (max-width: 600px) {
  .round-btn {
    font-size: 14px;
    padding: 8px 18px; } }

.section-ptb-2 {
  padding-top: 60px; }

.themeix-button-group .themeix-btn {
  padding: 12px 20px;
  display: inline-block;
  font-size: 15px;
  text-transform: capitalize;
  line-height: 24px;
  background: #795BB6;
  margin-right: 12px;
  font-weight: 400;
  color: #fff;
  position: relative;
  z-index: 2; }

.themeix-button-group .themeix-btn:hover {
  color: #2E94DF; }

.themeix-button-group .themeix-btn:before {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background-color: #FFFFFF;
  top: 50%;
  left: 0;
  z-index: -11; }

.themeix-button-group .themeix-btn:hover:before {
  height: 50%; }

.themeix-button-group .themeix-btn:after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background-color: #FFFFFF;
  bottom: 50%;
  left: 0;
  z-index: -11; }

.themeix-button-group .themeix-btn:hover:after {
  height: 50%; }

.themeix-button-group .bg-change:before {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background-color: #2E94DF;
  top: 50%;
  left: 0;
  z-index: -11; }

.themeix-button-group .bg-change:hover:before {
  height: 50%; }

.themeix-button-group .bg-change:after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background-color: #2E94DF;
  bottom: 50%;
  left: 0;
  z-index: -11; }

.themeix-button-group .bg-change:hover:after {
  height: 50%; }

.themeix-button-group .bg-change:hover {
  color: #FFFFFF !important; }

.themeix-button-group .bg-change {
  background: #2E94DF; }

.themeix-button-group .themeix-danger:before {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background-color: #3694F4;
  top: 50%;
  left: 0;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  z-index: -11; }

.themeix-button-group .themeix-danger:hover:before {
  height: 50%; }

.themeix-button-group .themeix-danger:after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background-color: #3694F4;
  bottom: 50%;
  left: 0;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  z-index: -11; }

.themeix-button-group .themeix-danger:hover:after {
  height: 50%; }

.themeix-button-group .themeix-danger:hover {
  color: #FFFFFF !important; }

.themeix-button-group .active-bg {
  padding: 14px 60px !important;
  font-size: 15px !important;
  background: #2E94DF !important; }

.themeix-price-active {
  background: #2E94DF !important; }

.themeix-button-group .themeix-price-button-active:before {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background-color: #222222;
  top: 50%;
  left: 0;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  z-index: -11; }

.themeix-button-group .themeix-price-button-active:hover:before {
  height: 50%; }

.themeix-button-group .themeix-price-button-active:after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background-color: #222222;
  bottom: 50%;
  left: 0;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  z-index: -11; }

.themeix-button-group .themeix-price-button-active:hover:after {
  height: 50%; }

.themeix-button-group .themeix-price-button-active:hover {
  color: #FFFFFF !important; }

.themeix-button-group .price-btn-cust:before {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background-color: #2E94DF;
  top: 50%;
  left: 0;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  z-index: -11; }

.themeix-button-group .price-btn-cust:hover:before {
  height: 50%; }

.themeix-button-group .price-btn-cust:after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background-color: #2E94DF;
  bottom: 50%;
  left: 0;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  z-index: -11; }

.themeix-button-group .price-btn-cust:hover:after {
  height: 50%; }

.themeix-button-group .price-btn-cust:hover {
  color: #FFFFFF !important; }

.themeix-button-group button {
  border-radius: 0 !important;
  border: 0;
  background: #2E94DF !important; }

.themeix-button-group .themeix-submit-btn {
  padding: 12px 30px;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 24px;
  background: #f96a91;
  margin-right: 12px;
  font-weight: 400;
  border-radius: 4px;
  color: #fff;
  position: relative;
  z-index: 22;
  -webkit-transition: 0.4s;
  width: 100%;
  overflow: hidden;
  z-index: 1; }

.themeix-button-group .themeix-submit-btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -65px;
  border-radius: 50%;
  background: #424242;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-8%, -50%);
  -moz-transform: translate(-1%, -40%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: width 0.7s, height 0.7s;
  -webkit-transition: width 0.7s, height 0.7s;
  -moz-transition: width 0.7s, height 0.7s;
  -ms-transition: width 0.7s, height 0.7s;
  -o-transition: width 0.7s, height 0.7s;
  top: 70px;
  z-index: -22; }

.themeix-button-group .themeix-submit-btn:hover:after {
  width: 700px;
  height: 700px; }

/*****************************
        Shortcodes 
*****************************/
.center-text-cta-section {
  background-color: #7D5AB5;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 50px 0; }
  .center-text-cta-section .title {
    color: #fff;
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 40px;
    line-height: 0.8;
    font-weight: 600; }
  .center-text-cta-section .inner-text {
    font-family: 'Roboto' sans-serif;
    max-width: 666px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 36px;
    padding: 0 15px; }
  .center-text-cta-section.inner-text-exists {
    padding: 80px 0; }
  .center-text-cta-section.light-style {
    background-color: #FAFAFA; }
    .center-text-cta-section.light-style .title {
      color: #7D5AB5; }
    .center-text-cta-section.light-style .inner-text {
      color: #404040; }

@media (max-width: 600px) {
  .center-text-cta-section .title {
    font-size: 30px; }
  .center-text-cta-section img {
    margin-left: 15px; } }

.contrib-list {
  padding: 80px 0; }
  .contrib-list .contrib-list-title {
    color: #7D5AB5;
    font-size: 40px;
    margin: 0 0 26px 0; }
  .contrib-list .subtitle {
    color: #7D5AB5;
    font-size: 16px;
    margin: 0 0 55px 0; }
  .contrib-list .round-btn {
    margin: 50px 0 0 0; }
  .contrib-list .git-disp-pic {
    height: 48px;
    border-radius: 225px;
    margin: 13px 22px 8px 5px; }
  .contrib-list .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 15px 20px;
    justify-content: center; }
  .contrib-list .single-item {
    background-color: #7d5ab5;
    max-width: 450px;
    overflow: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: #ccc 0px 0px 10px;
    transition: tranform 0.3s ease; }
    .contrib-list .single-item:hover {
      transform: translate(0px, -5px); }
    .contrib-list .single-item .name {
      font-size: 20px; }
    .contrib-list .single-item .underline {
      font-size: 13px;
      display: inline-block;
      border-bottom: 1px solid #fff; }
    .contrib-list .single-item .contrib-info {
      margin-top: 10px;
      margin-left: 5px; }
    .contrib-list .single-item a, .contrib-list .single-item a:visited {
      color: #fff; }
    .contrib-list .single-item a:hover, .contrib-list .single-item a:active {
      filter: brightness(90%); }
    .contrib-list .single-item a {
      display: flex;
      flex-direction: row; }
    @media (max-width: 767px) {
      .contrib-list .single-item a {
        justify-content: flex-start; } }
  @media (max-width: 1199px) {
    .contrib-list .grid-container {
      grid-gap: 20px 10px; }
    .contrib-list .single-item {
      overflow: auto;
      padding: 15px 20px;
      border-radius: 10px; }
      .contrib-list .single-item .name {
        font-size: 22px; } }
  @media (max-width: 650px) {
    .contrib-list .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(225px, 450px)); }
    .contrib-list .git-disp-pic {
      margin: 13px 12px 8px 0px; }
    .contrib-list .single-item {
      overflow: auto;
      padding: 10px;
      border-radius: 10px; }
      .contrib-list .single-item .name {
        font-size: 18px; } }

.hero-section {
  color: white;
  padding: 98px 0;
  display: grid;
  grid-column-gap: 64px;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image text" "image text";
  background: linear-gradient(90deg, #4AA9E4 -50%, #A34Bc1 150%); }
  .hero-section a {
    margin-top: 36px; }
  .hero-section .hero-img {
    grid-area: image;
    max-height: 300px;
    height: 100%;
    max-width: 500px;
    justify-self: flex-end; }
  .hero-section h1 {
    color: inherit;
    margin: calc(153px - 98px) 0 36px 0;
    font-size: 40px; }
  .hero-section p {
    margin: 0; }
  .hero-section .text-section-container {
    grid-area: text;
    color: inherit;
    text-align: left;
    align-self: flex-start;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 30px 0 0; }

@media (max-width: 900px) {
  .hero-section h1 {
    font-size: 35px; } }

@media (max-width: 700px) {
  .hero-section {
    padding: 0 0 55px 0;
    grid-template-areas: "image image" "text text"; }
    .hero-section .hero-img {
      height: 210px;
      justify-self: center; }
    .hero-section .hero-img {
      padding: 0 50px 0 0;
      height: 194px; }
    .hero-section .text-section-container {
      align-self: center;
      padding: 0 25px; }
    .hero-section h1 {
      margin: 27px 0 35px 0;
      font-size: 32px; }
    .hero-section a {
      margin-top: 25px; } }

.item-container-section {
  color: #7D5AB5;
  padding: 85px 0; }
  .item-container-section.bg-purple {
    background: #7D5AB5;
    color: #fff; }
  .item-container-section .flex-center .round-btn {
    margin-top: 60px;
    text-align: center; }
  .item-container-section .container-title, .item-container-section .container-subtitle {
    text-align: center; }
  .item-container-section .container-title {
    font-size: 40px;
    margin: 0 0 26px 0; }
  .item-container-section .container-subtitle {
    font-size: 16px;
    margin: 0 0 35px 0; }
  @media (max-width: 600px) {
    .item-container-section .container-subtitle {
      margin: 0 0 33px 0; } }
  .item-container-section .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px 20px;
    justify-content: center; }

@media (max-width: 600px) {
  .item-container-section {
    padding: 55px 0; } }

.social-grid-section {
  color: #7D5AB5;
  padding: 85px 0; }
  .social-grid-section.bg-purple {
    background: #7D5AB5;
    color: #fff; }
  .social-grid-section .container-title, .social-grid-section .container-subtitle {
    text-align: center; }
  .social-grid-section .container-title {
    font-size: 40px;
    margin: 0 0 26px 0; }
  .social-grid-section .container-subtitle {
    font-size: 16px;
    margin: 0 0 35px 0; }
  @media (max-width: 600px) {
    .social-grid-section .container-subtitle {
      margin: 0 0 33px 0; } }
  .social-grid-section .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 108px);
    grid-gap: 70px 175px;
    justify-content: center; }

@media (max-width: 800px) {
  .social-grid-section .grid-container {
    grid-gap: 30px 50px; } }

.social-column {
  margin: 0 auto 0 auto;
  color: #7D5AB5; }
  .social-column .social-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 300px;
    position: relative;
    text-align: center; }
  .social-column .item-icon {
    width: 108px;
    margin-bottom: 10px; }
  .social-column h3 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0; }
  .social-column .link {
    text-decoration: none;
    color: #7D5AB5; }
    .social-column .link:visited {
      color: #7D5AB5; }
    .social-column .link:hover, .social-column .link:focus {
      filter: brightness(110%); }

.bg-purple .social-column {
  color: #fff; }
  .bg-purple .social-column .link {
    text-decoration: none;
    color: #fff; }
    .bg-purple .social-column .link:visited {
      color: #fff; }
    .bg-purple .social-column .link:hover, .bg-purple .social-column .link:focus {
      filter: brightness(90%); }

.wallet-column {
  margin: 20px auto 0 auto;
  color: #fff; }
  .wallet-column .item-card {
    display: flex;
    flex-basis: 300px;
    position: relative;
    box-shadow: 1px 13px 35px rgba(66, 45, 178, 0.12); }
  .wallet-column .item-main {
    width: 100%;
    max-width: 450px;
    padding-bottom: 0px; }
  .wallet-column .item-icon-container {
    height: 158px;
    padding: 5px;
    background: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 8px 8px 0 0; }
  .wallet-column .item-icon {
    padding: 10px 0 10px 0;
    height: inherit;
    max-height: 100%; }
  .wallet-column .item-details-group {
    background: #7D5AB5;
    padding: 23px;
    border-radius: 0 0 8px 8px; }
    .wallet-column .item-details-group h3 {
      font-size: 20px;
      margin: 0 0 15px 0; }
  .wallet-column .item-button {
    margin: 5px 0 5px 0; }
  .wallet-column .item-text p {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 24px;
    min-height: 75px; }
  @media (max-width: 678px) {
    .wallet-column .item-text p {
      min-height: unset; } }
  .wallet-column #box-item-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px; }
  .wallet-column #box-items {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    opacity: 0.5;
    height: 30px; }
  .wallet-column #box-items > div {
    margin-right: 5px;
    display: inline-block;
    color: #fff; }
  .wallet-column #box-items img {
    padding: 5px;
    width: 25px;
    margin: 0 auto; }
  .wallet-column a:hover, .wallet-column a:active, .wallet-column a:visited {
    filter: brightness(110%); }

.feature-column {
  margin: 20px auto 0 auto;
  min-width: 200px;
  width: 100%;
  max-width: 355px; }
  .feature-column a {
    color: #fff;
    margin: 26px 0 -15px 0; }
  .feature-column .feature-card {
    display: flex;
    flex-direction: column;
    padding: 45px 20px 45px 20px;
    align-items: center;
    justify-content: center; }
    .feature-column .feature-card .item-icon {
      width: 108px; }
    .feature-column .feature-card h3 {
      font-size: 20px;
      margin: 33px 0 0 0; }
    .feature-column .feature-card p {
      color: #404040;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      text-align: center;
      padding-top: 9px;
      font-size: 16px;
      font-weight: 300;
      line-height: 25px; }

.action-column {
  margin: 20px auto 0 auto;
  color: #7D5AB5; }
  .action-column .btn-img {
    margin-left: 10px; }
  .action-column .action-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 300px;
    position: relative;
    text-align: center; }
  .action-column .item-icon {
    height: 130px;
    width: 130px;
    margin-bottom: 33px; }
  .action-column h3 {
    font-size: 20px;
    margin: 0 0 9px 0; }
  .action-column .subtext, .action-column .link {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    max-width: 300px; }
  .action-column .link {
    text-decoration: none;
    border-bottom: #006EFF solid 1px;
    color: #006EFF; }
    .action-column .link:visited {
      color: #006EFF; }
    .action-column .link:hover, .action-column .link:focus {
      filter: brightness(90%); }

.bg-purple .action-column {
  color: #fff; }
  .bg-purple .action-column .link {
    border-bottom: white solid 1px;
    color: #fff; }
    .bg-purple .action-column .link:visited {
      color: #fff; }

.long-text-column {
  margin: 20px auto 0 auto;
  min-width: 200px;
  width: 100%;
  max-width: 355px; }
  .long-text-column a {
    color: #fff;
    margin: 26px 0 -15px 0; }
  .long-text-column .long-text-card {
    display: flex;
    flex-direction: column;
    padding: 45px 20px 45px 20px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 1px 13px 35px rgba(66, 45, 178, 0.12);
    transition: all 0.3s ease; }
    .long-text-column .long-text-card:hover {
      transform: translate(0px, -5px); }
    .long-text-column .long-text-card .item-icon {
      width: 108px; }
    .long-text-column .long-text-card h3 {
      font-size: 20px;
      margin: 26px 0;
      font-weight: 600; }
    .long-text-column .long-text-card p {
      font-size: 16px;
      color: #404040;
      font-family: 'Roboto', sans-serif;
      text-align: justify; }
    .long-text-column .long-text-card a:hover, .long-text-column .long-text-card a:active, .long-text-column .long-text-card a:visited {
      filter: brightness(110%); }

.merchant-column {
  margin: 20px auto 0 auto;
  min-width: 200px;
  width: 100%;
  max-width: 450px; }
  .merchant-column a {
    color: #fff; }
  .merchant-column .merchant-card {
    box-shadow: 1px 13px 35px rgba(66, 45, 178, 0.12);
    transition: all 0.3s ease; }
    .merchant-column .merchant-card:hover {
      transform: translate(0px, -5px); }
  .merchant-column .upper-half {
    display: flex;
    flex-direction: column;
    height: 158px;
    padding: 5px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0; }
  .merchant-column .item-icon {
    padding: 10px 0 10px 0;
    width: 108px; }
  .merchant-column .lower-half {
    background: #7D5AB5;
    padding: 13px;
    border-radius: 0 0 8px 8px;
    text-align: center; }
    .merchant-column .lower-half h3 {
      font-size: 20px;
      margin: 0 0 20px 0; }
    .merchant-column .lower-half p {
      font-size: 16px;
      margin: 0;
      font-family: 'Roboto', sans-serif; }
  .merchant-column a:hover, .merchant-column a:active, .merchant-column a:visited {
    filter: brightness(110%); }

.exchange-column {
  margin: 20px auto 0 auto;
  min-width: 200px;
  width: 100%;
  max-width: 450px; }
  .exchange-column a {
    color: #fff; }
  .exchange-column .exchange-card {
    box-shadow: 1px 13px 35px rgba(66, 45, 178, 0.12);
    transition: all 0.3s ease; }
    .exchange-column .exchange-card:hover {
      transform: translate(0px, -5px); }
  .exchange-column .upper-half {
    display: flex;
    flex-direction: column;
    height: 158px;
    padding: 5px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0; }
    .exchange-column .upper-half p {
      color: #2c3134;
      font-size: 16px; }
  .exchange-column .item-icon {
    padding: 10px 0 10px 0;
    width: 108px; }
  .exchange-column .lower-half {
    background: #7D5AB5;
    padding: 13px;
    border-radius: 0 0 8px 8px; }
    .exchange-column .lower-half h3 {
      font-size: 20px;
      margin: 0;
      text-align: center; }
  .exchange-column a:hover, .exchange-column a:active, .exchange-column a:visited {
    filter: brightness(110%); }

.text-section {
  text-align: center;
  min-height: 300px;
  background: no-repeat;
  background-position: center;
  background-size: contain; }
  .text-section.left {
    text-align: left; }
  .text-section.right {
    text-align: right; }
  .text-section h2 {
    font-size: 30px; }
  .text-section .text-section-inner {
    max-width: 800px; }
  .text-section.left {
    background-position: left; }
  .text-section.right {
    background-position: right; }

.text-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 300px; }

body {
  background: #fafafa;
  padding-top: 54px; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.news-content > p:empty {
  display: none; }

a:hover, a:active, a:focus, a:visited {
  text-decoration: none; }

.ninety-vw-container {
  max-width: 90vw;
  margin: 0 auto; }

@media (min-width: 1300px) {
  .ninety-vw-container {
    max-width: 1200px;
    margin: 0 auto; } }

.box-list .drop-shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-left: 1px solid #EEE;
  border-top: 1px solid #EEE; }

.box-list .service-main {
  padding-top: 30px;
  padding-bottom: 0px; }

.box-list .extra-subtitle {
  padding: 15px 0; }

.box-list img {
  padding-bottom: 10px;
  height: 100%; }

.box-list .service-icon {
  height: 150px; }

.box-list h3 {
  padding: 10px 0; }

.box-list a {
  color: #555; }
  .box-list a:hover, .box-list a:active, .box-list a:visited {
    color: #555; }

.box-list .box-section-item:hover img {
  opacity: 0.75; }

.center {
  text-align: center; }

.white-txt-underline {
  color: #fff;
  text-decoration: underline; }
  .white-txt-underline:hover, .white-txt-underline:active, .white-txt-underline:visited {
    color: #fff;
    text-decoration: underline; }

.dark-grey-txt-underline {
  color: #333;
  text-decoration: underline; }
  .dark-grey-txt-underline:active, .dark-grey-txt-underline:visited {
    color: #333;
    text-decoration: underline; }
  .dark-grey-txt-underline:hover {
    color: #7d59b5;
    text-decoration: underline; }

.news-content ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  color: #777777;
  font-size: 15px;
  line-height: 24px; }

.main-slider-overlay {
  background: -moz-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(68, 178, 233, 0.88)), color-stop(100%, #c529b5), color-stop(100%, #c529b5));
  background: -webkit-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
  background: -o-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
  background: -ms-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
  background: linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%); }

.bg-gradient {
  background: -moz-linear-gradient(90deg, #56b6e7 0%, #c63db8 100%);
  /* ff3.6+ */
  background: -webkit-gradient(90deg, linear, left bottom, right top, color-stop(0%, #56b6e7), color-stop(100%, #c63db8));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, #56b6e7 0%, #c63db8 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, #56b6e7 0%, #c63db8 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, #56b6e7 0%, #c63db8 100%);
  /* ie10+ */
  background: linear-gradient(90deg, #56b6e7 0%, #c63db8 100%);
  /* w3c */ }

.page-header-bg {
  height: auto; }

.vert-10 {
  height: 10px; }

.icon-block {
  display: inline-block;
  margin-right: 15px; }
  .icon-block figcaption p {
    text-align: center; }

.play-store-button {
  padding: 18px 25px !important; }

.play-store-button:after {
  content: ""; }

.projects-card-container {
  display: flex;
  flex-wrap: wrap; }
  .projects-card-container .project-card {
    margin: 15px 15px 0 0;
    padding: 0 20px 10px 20px;
    max-width: 400px; }

.info-links {
  display: flex;
  align-items: center; }
  .info-links label {
    cursor: pointer;
    margin-right: 5px;
    background-color: rgba(33, 33, 33, 0.5);
    color: #fff; }
    .info-links label.card-author {
      font-size: 12px;
      padding: 6px 10px; }
    .info-links label i {
      padding: 10px; }

.flex {
  display: flex; }

.hero-image-section {
  height: 100vh; }
  .hero-image-section .image-container {
    display: flex;
    height: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .hero-image-section .image-container img {
      max-width: 700px;
      width: 100%; }
    .hero-image-section .image-container h2 {
      font-size: 25px;
      opacity: 0.8;
      line-height: 1.16;
      color: #6d7680;
      letter-spacing: 1.8px;
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      text-align: center; }

.left-image-section, .right-image-section {
  min-height: 500px; }
  .left-image-section .img-container, .right-image-section .img-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    align-content: center; }
  .left-image-section img, .right-image-section img {
    max-width: 295px;
    min-width: 175px; }
  .left-image-section .text-content, .right-image-section .text-content {
    max-width: 650px;
    width: 100%; }
  .left-image-section.small-section, .right-image-section.small-section {
    min-height: 200px; }
    .left-image-section.small-section img, .right-image-section.small-section img {
      max-height: 175px; }
    @media (max-width: 869px) {
      .left-image-section.small-section, .right-image-section.small-section {
        text-align: center;
        padding: 30px 0; } }
  .left-image-section.flex, .right-image-section.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap; }
    .left-image-section.flex div, .right-image-section.flex div {
      padding: 0 15px; }
      .left-image-section.flex div div, .right-image-section.flex div div {
        padding: 0; }
  @media (max-width: 989px) {
    .left-image-section, .right-image-section {
      text-align: center;
      min-height: 600px; }
      .left-image-section img, .right-image-section img {
        max-width: 200px; } }

@media (max-width: 989px) {
  .right-image-section .img-container {
    order: -1; } }

.half-image-half-text-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  width: 100vw; }
  .half-image-half-text-section .content {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap; }
    .half-image-half-text-section .content div {
      padding: 0 15px; }
      .half-image-half-text-section .content div div {
        padding: 0; }
  .half-image-half-text-section img {
    width: inherit;
    height: inherit;
    min-width: 175px;
    max-height: 300px;
    width: 50%;
    height: inherit; }
  .half-image-half-text-section .text-content {
    width: 50%;
    min-width: 400px; }
  .half-image-half-text-section.left-image img {
    order: -1; }
  @media (max-width: 799px) {
    .half-image-half-text-section {
      text-align: center;
      min-height: 600px; }
      .half-image-half-text-section img {
        max-height: 300px;
        order: -1; }
      .half-image-half-text-section.left-image img {
        max-height: 300px; } }

.features-section {
  min-height: 375px;
  background-color: #fff; }
  .features-section h3 {
    font-size: 26px; }
  .features-section .text-content {
    max-width: 330px; }
  .features-section .service-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 45px 15px; }
  .features-section img {
    max-width: 178px; }
  .features-section.border-box img {
    max-width: 80px; }
  .features-section.border-box .service-main {
    padding: 15px; }
  .features-section.border-box .single-item {
    margin: 20px 0;
    border: 1px solid #7e7e7e; }

.links-section {
  text-align: center;
  min-height: 300px; }
  .links-section .text-content {
    max-width: 330px; }
  .links-section .service-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 45px; }
    .links-section .service-main h3 {
      font-weight: normal;
      font-size: 26px; }
  .links-section h2 {
    font-family: 'Raleway', sans-serif; }
  .links-section img {
    max-width: 178px; }
    .links-section img.drop-shadow {
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)); }

.box-container {
  padding: 20px; }

.links-section h3, .contrib-list h3, .home-links-section h3 {
  font-weight: normal;
  font-size: 26px; }

.link-section-link {
  font-size: 110%;
  text-decoration: underline;
  color: #337ab7; }

.box-list h3 {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: normal; }

.box-list .bottom-text {
  margin: 30px 0 0 0; }

.box-list-supreme {
  width: 100%;
  margin: 0 auto;
  padding-top: 2vh; }

.box-list-supreme .drop-shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-left: 1px solid #EEE;
  border-top: 1px solid #EEE; }

.box-list-supreme .item-card {
  display: flex;
  flex-basis: 300px;
  max-width: 99%;
  position: relative; }

.box-list-supreme .item-main {
  width: 100%;
  padding-bottom: 0px; }

.box-list-supreme .item-icon-group {
  padding: 5px; }

.box-list-supreme .item-icon {
  text-align: center;
  height: 150px; }

.box-list-supreme .item-icon img {
  padding: 10px 0 10px 0;
  height: 100%; }

.box-list-supreme .item-details-group {
  padding: 15px; }

.box-list-supreme .item-title h3 {
  padding: 10px 0; }

.box-list-supreme .item-button {
  margin: 5px 0 5px 0; }

.box-list-supreme #box-item-group {
  display: flex;
  align-items: center;
  margin: 0 0 5px 0; }

.box-list-supreme #box-items {
  display: flex;
  flex-flow: row wrap;
  align-content: center; }

.box-list-supreme #box-items > div {
  margin-right: 5px;
  display: inline-block;
  background-color: rgba(33, 33, 33, 0.5);
  color: #fff; }

.box-list-supreme #box-items img {
  padding: 5px;
  width: 25px;
  margin: 0 auto; }

.box-list-supreme a {
  color: #555; }

.box-list-supreme a:hover, .box-list-supreme a:active, .box-list-supreme a:visited {
  color: #555; }

.box-list-supreme .box-section-item:hover img {
  opacity: 0.75; }

.box-list-supreme .item-button {
  font-size: 12px;
  padding: 5px 10px 4px 10px;
  display: inline-block;
  cursor: pointer;
  background: #ffffff !important;
  color: #8272D1 !important; }

/* end links_section_supreme */
.main-menu {
  font-family: 'Source Sans Pro', sans-serif; }
  .main-menu .nav-container {
    max-width: 95vw; }
  .main-menu .logo-brand {
    height: inherit; }
    .main-menu .logo-brand a {
      display: block;
      height: inherit; }
      .main-menu .logo-brand a img {
        height: inherit; }

.arrow {
  display: inline-block;
  vertical-align: middle;
  padding-top: -1px;
  margin-left: 4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #ccc; }
