.text-section {  
  text-align: center;
  min-height: 300px;
  background: no-repeat;
  background-position: center;
  background-size: contain;  
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  h2 {
    font-size: 30px;
  }
  .text-section-inner {
    max-width: 800px;
  }

  &.left {
    background-position: left;
  }
  &.right {
    background-position: right;
  }
}

.text-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
}