.zig-section {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &.bg-purple {
    background-color: #7D5AB5;
    color: white;
    .zig-container {
      .paragraph-text, h1 {
        color: #fff;
      }
    }
  }
  .zig-container {
    max-width: 1920px;
    color: #7D5AB5;
    padding: 80px 0;
    display: grid;
    grid-column-gap: 120px;
    grid-auto-flow: dense;
    grid-template-columns: 35% 65%;
    grid-template-areas: "image text" "image text";
    justify-content: center;
    align-items: center;

    a {
      margin: 30px 0px 55px 0px;
    }

    .zig-img {
      grid-area: image;
      max-height: 234px;
      height: 100%;
      max-width: 234px;
      justify-self: flex-end;
    }

    h1 {
      color: inherit;
      font-size: 40px;
      margin-bottom: 32px;
      font-weight: 500;
      margin-top: 0px;
    }

    .paragraph-text {
      color: #404040;
      margin: 0;
      font-size: 16px;
      line-height: 25px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: justify;
    }

    .text-section-container {
      grid-area: text;
      color: inherit;
      align-self: flex-start;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-content: center;

      padding: 0 20px 50px 0;
      text-align: justify;
      text-justify: inter-word;
    }

    &.reversed {
      grid-template-columns: 65% 35%;
      grid-template-areas: "text image" "text image";
      .text-section-container {
        justify-self: flex-end;
        padding: 0 0 50px 20px;  
      }
      .zig-img { 
        justify-self: flex-start;
      }
    }
  }

  @media (max-width: 900px) {
    .zig-container, .zig-container.reversed {
      grid-column-gap: 30px;
      h1 {
        font-size: 35px;
      }
    }
  }

  @media (max-width: 620px) {
    .zig-container, .zig-container.reversed {
      padding: 55px 0 55px 0;
      grid-template-areas:  "image image"
                            "text text";
      .zig-img {
        height: 210px;
        justify-self: center;
      }

      .text-section-container {
        align-self: center;
        padding: 0 25px;
        text-align: center;
      }
      .paragraph-text {
        max-width: 500px;
      }

      h1 {
        margin: 27px 0;
        font-size: 27px;
        font-weight: 500;
        line-height: 32px;
        margin-bottom: 10px;
      }
    }
  }
}


