<script>
    function toggleMenu(event) {
        const menu = document.querySelector('#navigation-bar');
        menu.classList.toggle('show-menu');
    }
</script>

<!-- main menu area -->
<header class="stickey">
  <nav class="main-menu">
      <div class="nav-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <div class="logo-brand">
              <a href="/{{ .Lang  }}/">
              <img src="/images/navcoin-header.svg" alt="navcoin logo" class="header-img">               
            </a>
          </div>
            <div class="hamburger-icon" onclick="toggleMenu()">
              <img src="/images/hamburger-menu.svg"/>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="regular-menu-container">
            {{ partial "header_menu.html" .  }}
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
</header>

