{{ partial "header.html" . }}

{{ $lastUrlElement := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}

{{ $filter := replace $lastUrlElement "-" " " }}

<div class="themeix-bg themeix-small">
  <div class="categories-header purple">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header-title">
            {{ if .Params.npip_number }}
              <h2>NPIP{{ .Params.npip_number }} - {{ .Title }}</h2>
            {{ else }}
              <h2>NPIP Category - {{ .Title }}</h2>
            {{ end }}
            <ul class="page-list">
              <li><a href="/">Home</a></li>
              <li><a href="/npips">NPIPs</a></li>
              {{ if $lastUrlElement }}
              <li style="text-transform: capitalize;">{{ $filter }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
