<nav>
    <ul id="navigation-bar">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class=" {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }} nav-dropdown">
                    <span class="menu-item nav-top-item">
                        {{ .Pre }}
                        <span class="name">{{ .Name }}</span>
                        <span class="arrow"></span>
                    </span>
                    <ul class="sub-menu">
                        {{ range .Children }}
                            <li class="sub-menu-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                <a href="{{ .URL  | absLangURL}}">{{ .Name }}
                                </a>
                            {{ if or (eq .Identifier "navhub") (eq .Identifier "block-explorer") }}
                                <img src="/images/external-link-img.png" alt="external" class="external-link-img"> 
                            {{ end }}
                            </li>
                            {{ if or (eq .Identifier "governance") (eq .Identifier "for-business") (eq .Identifier "navhub") (eq .Identifier "merchants" ) }}
                                <div class="hr-container">
                                    <hr>
                                </div>
                            {{ end }}
                        {{ end }}
                    </ul>
                </li>
            {{else}}
                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                    <a class="menu-item nav-top-item" href="{{ .URL  | absLangURL}}">
                        {{ .Pre }}
                        <span class="name">{{ .Name }}</span>
                    </a>
                </li>
            {{end}}
        {{end}}

        <li class="">
                <span class="nav-top-item menu-item">
                    {{ .Lang }}  <span class="arrow"></span>
                </span>     
            <ul class="sub-menu">
                {{ range $.Site.Home.AllTranslations }}
                    <li class="active sub-menu-item"><a href="{{ .Permalink }}{{ $currentPage.Dir }}">{{ .Language.LanguageName }}</a></li>
                {{ end }}
            </ul>
        </li>
    </ul>
</nav>
