<div class="left-image-section flex" style="background-color:#42b6eb; padding: 0">
      <div class="img-container" style="padding: 0;">
          <img src="/images/circle-icons/nav_blue-news.png">
      </div>
      <div class="text-content">
          <h2 class="" style="color: #FFF;">Protocol Notices</h2>
          <div class="" style="color: #FFF;">
            NavCoin is an open source protocol to which anyone can contribute. The NavCoin Core developers have enacted a policy to provide fair opportunity for any interested party to review all changes they make to the NavCoin protocol prior to public release.
          </div>
          <a href="https://github.com/NavCoin/navcoin-core/releases/latest" target="e" class="round-btn blue-btn" style="margin-top: 20px;">View Latest Release</a>
      </div>
</div>
