<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body data-spy="scroll" data-target="#header-menu">

  {{ partial "header.html" .  }}

  <div class="hero-section">
      <img src="/images/roadmap/map_hero.svg" class="hero-img">
    <div class="text-section-container">
        <h1 class="">Core Roadmap</h1>
        <p class="paragraph-text">
            Cryptocurrencies are complicated, and NavCoin’s community roadmap is aimed at changing that. As a community, we are laying the foundation for NavCoin to be an industry-leading cryptocurrency by building better money.
          </p>

            <div>
                <a href="https://www.navexplorer.com/soft-forks" class="round-btn blue-btn" target="_blank">
                    View soft fork stats
                    <img src="/images/icons/rightward-arrow.svg" class="btn-img"> </a>
            </div>

    </div>
</div>

  <section>
    <div class="roadmap-grid-container" style="max-width: 1190px;">
      {{ if len (where .Site.Pages "Params.status" "upcoming") }}
      <div class="roadmap-session up-coming">
        <img src="/images/roadmap/map-up-coming.svg"/>
        <h3>Upcoming</h3>
        {{ range where .Site.Pages "Params.status" "upcoming" }}
          {{ partial "roadmap_item.html" . }}
        {{ end }}
      </div>
      {{ end }}
      {{ if len (where .Site.Pages "Params.status" "in-progress") }}
      <div class="roadmap-session in-progress">
        <img src="/images/roadmap/map-in-progress.svg"/>
        <h3>In Progress</h3>
        {{ range where .Site.Pages "Params.status" "in-progress" }}
          {{ partial "roadmap_item.html" . }}
        {{ end }}
      </div>
      {{ end }}
      {{ if len (where .Site.Pages "Params.status" "testing") }}
      <div class="roadmap-session beta">
        <img src="/images/roadmap/map-beta.svg"/>
        <h3>Beta Testing</h3>
        {{ range where .Site.Pages "Params.status" "testing" }}
          {{ partial "roadmap_item.html" . }}
        {{ end }}
      </div>
      {{ end }}
      {{ if len (where .Site.Pages "Params.status" "completed") }}
      <div class="roadmap-session complete">
        <img src="/images/roadmap/map-completed.svg"/>
        <h3>Completed</h3>
        {{ range where .Site.Pages "Params.status" "completed" }}
          {{ partial "roadmap_item.html" . }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </section>

  <div class="center-text-cta-section inner-text-exists" >
    <h2 class="title">Community Roadmap</h2>
    <p class="inner-text">
      The Core Roadmap only showcases protocol related projects which are just the tip of the iceberg when it comes to the NavCoin eco-system. To check out what has been or is being built ontop of the NavCoin protocol, head on over to NavHub and check out the community projects and roadmap there.
    </p>
    <a href="https://navhub.org" target="e" class="round-btn gradient-btn" >Go to NavHub <img src="/images/icons/rightward-arrow.svg" class="btn-img"> </a>
  </div>

  {{ partial "footer.html" . }}

</body>
</html>
